.hero {
    height: 80vh;
    background: linear-gradient(180deg, #f8f9fa, #ffffff);
    display: flex;
    align-items: center;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.hero-left {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    padding-left: 100px;
}

.hero-left h2 {
    color: #212529;
    font-size: 36px;
    font-weight: 700;
}

.hero-hand-icon {
    display: flex;
    align-items: center;
    gap: 10px;
}

.hero-hand-icon img {
    width: 60px;
    height: 60px;
}

.hero-latest-btn {
    width: 250px;
    height: 50px;
    border-radius: 50px;
    background: #ff3f6c;
    color: white;
    font-size: 18px;
    font-weight: 500;
    border: none;
    cursor: pointer;
    transition: all 0.3s;
}

.hero-latest-btn:hover {
    background: #e63256;
}
